body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #321616;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #686666;
}

.gif_container img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
}
